*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 70px;
  background-color:orange;

}

.nav-list{
  text-align: center;
  width: 1024px;
  margin: 0 auto;
  background-color:orange;
  height: 70px;
}

ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu{
  margin-right: auto;
  width: 1024px;
}

.menu1,
.menu2,
.menu3,
.menu4{
  font-size: 16px;
  color: #fafafa;
  margin: 30px;
}

.main-visual{
  background-image: url(img/mv.png);
  height: 650px;
  background-size: 100% 100%;
  
}

.main-comment{
  padding: 200px auto;
  text-align: center;
  padding-top: 200px;

}

.main-title{
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.comment{
  font-size: 20px;
  color:#fafafa;
}

/* ポートフォリオのエリア始まり */
.portfolio{
  background-color: #eceff1;
  justify-content: center;
}

.portarea{
  margin: 0 auto 0 auto;
  max-width: 920px;
  text-align: center;
}
  
.p-title{
  font-size:32px;
  padding-top: 90px;
  margin-bottom: 8px;
  color: #000000;
  text-align: center;
  
}

.border-line {
  height: 3px;
  background-color:#EC715F;
  width: 70px;
  border: none;
  margin: 0 auto;
 }
 
 .p-text{
   margin:30px auto 30px auto;
   font-size:16px;
   color: #000000;
 }

 .port-image{
   display: flex;
   flex-wrap: wrap;
 }

 .image1{
  background-size: 100% 100%;
   width: 300px;
   height: 250px;
   margin-right: 10px;
   background-image:url(img/sketch.jpg) 
   
  }

  .image2{
    width: 300px;
    height: 250px;
    margin-right: 10px;
    background-image: url(img/websuku.png);
    background-size: 100% 100%;
  }

  .image3{
    background-size: 100% 100%;
    width: 300px;
    height: 250px;
    background-image:url(img/write.jpg) 
    
   }

   .image4{
    width: 300px;
    height: 250px;
    margin: 10px 10px 90px 0;
    background-image: url(img/webcamp.png);
    background-size: 100% 100%;
   }

   .image5{
    width: 300px;
    height: 250px;
    margin: 10px 10px 90px 0;
    background-image: url(img/talk.jpg);
    background-size: 100% 100%;
   }

   .image6{
    width: 300px;
    height: 250px;
    margin: 10px 0 90px 0;
    background-image: url(img/webcamp-mother.png);
    background-size: 100% 100%;
   }

  /* ここまでポートフォリオのエリア */

  .feature{
    justify-content: center;
  }

  .featurearea{
    margin: 0 auto 0 auto;
    max-width: 980px;
    text-align: center;
  }

  .feature1{
    width: 320px;
    height: auto;
    margin:30px 0 90px 0;
    padding-right: 10px;
  }

  .feature2{
    width: 320px;
    height: auto;
    margin:30px 0 90px 0;
    padding-right: 10px;
    
  }

  .feature2{
    width: 320px;
    height: auto;
    margin:30px 0 90px 0;
  }

  .txt{
    display: inline-block;
    text-align: left;
  }

  i{
    font-size: 60px;
  }

  .f-title{
    margin: 10px auto;
    font-size:20px;
  }
/* フィーチャー終わり */
/* ポートファイル始まり */
  .portfile{
    background-color: #eceff1;
    justify-content: center;
  }
  
  .portfilearea{
    margin: 0 auto 0 auto;
    max-width: 1024px;
    text-align: center;
    
  }

  .y-image{
    width: 512px;
    text-align: center;
    padding-bottom: 90px;
  }

  .yanosan-image{
    background-image:url(img/my-icon.jpg);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  
  }
  .my-name{
    width: 512px;
    padding-top:30px;
    padding-bottom: 90px;
    text-align: left;
  }
  
  .name{
    font-size: 20px;
    margin-bottom: 5px;
    
  }
  
  .port-text{
    font-size:16px;
    color: #000000;
  }

  .skills{    
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    }

/* プロフィール終わり。 */
/* コンタクト始まり */

 .contact-area{    
  margin: 0 auto 0 auto;
  max-width: 800px;
  text-align: center;
 }

 .cotact2{
   width: 900px;
   display: flex;
   flex-wrap: wrap;
 }

.smail{
  width: 400px;
  text-align: center;
}

 .social-area{
  width: 400px;
  
 }

.social-area i{
  font-size: 50px;
  
}